@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
  font-family: 'BrushScriptMT';
  src: url('./assets/fonts/BRUSHSCI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(90deg, rgb(126, 126, 126) 0%, black 10%, black 50%, black 90%, rgb(126, 126, 126) 100%);

  color: white;
}

.glowna {
  background-image: url("/assets/images/button.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  height: 18vw;
  display: flex;
  align-items: center;
  /* wyśrodkuj pionowo */
  justify-content: center;
  /* wyśrodkuj poziomo */
}

.change {
  height: 15vw;
  margin-top: 4vw;
  align-items: center;
  /* wyśrodkuj pionowo */
  justify-content: center;
  /* wyśrodkuj poziomo */
}

.tytul {
  font-family: 'Great Vibes', cursive !important;
  font-size: 2vw;
  padding: 1vw;
  font-weight: 800;
  justify-content: center; /* wyśrodkuj poziomo */
  align-items: center; /* wyśrodkuj pionowo */
}

.glowna select {
  width: 100%;
  max-width: 250px;
  text-align: center;
}



.pierwsza-linia {
    font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 1rem;
  /* tu masz odstęp */
}

.zdjecie {
  width: 12vw;
  height: 12vw;
}

.wybor {
  height: 5vw;
  width: 20vw;
  font-size: 25px;
  appearance: none;
  margin-bottom: 20%;
  border: 0.4vw groove white 
}

.d_button {
  width: 32vw;
  height: 8vw;
  margin-bottom: 10vw;
}
.frame {
  display: flex;
  justify-content: center;
  margin-top: -3vw;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 51vw;
  line-height: 0; /* usuwa szczeliny wynikające z line-height */
}

/* GÓRA */
.top {
  background-image: url("/assets/images/frame-up.png");
  background-size: 100% 100%; /* dopasuj dokładnie */
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 1;
  display: block;
  margin: 0;
  padding: 0;
}

/* ŚRODEK */
.center {
  flex-grow: 1;
  width: 100%;
  background-image: url("/assets/images/frame-center.png");
  background-position: center top;
  background-repeat: repeat-y;
  background-size: 100% auto; /* zachowaj stałą szerokość */
  margin: 0;
  padding: 2vw 1vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

/* DÓŁ */
.bottom {
  background-image: url("/assets/images/frame-down.png");
  background-size: 100% 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 4 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1vw 0 0 0;
}

/* Text inside */
.textPis {
  max-width: 80%;
  font-size: 1.2vw;
  line-height: 1.8vw;
  text-align: center;
  color: white;
}

* {
  font-family: 'Merriweather', serif !important;
}
