@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
  font-family: 'BrushScriptMT';
  src: url('./assets/fonts/BRUSHSCI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white;
}

.glowna {
  background-image: url("/assets/images/button.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  height: 18vw;
  width: auto;
  display: flex;
  align-items: center;
  /* wyśrodkuj pionowo */
  justify-content: center;
  /* wyśrodkuj poziomo */
}

@media screen and (min-width: 620px) {
  .glowna{
    height: 18vw;
  }
}
@media screen and (max-width: 619px) {
  .glowna{
    height: 40vw;
  }
}


.change {
  height: 15vw;
  margin-top: 4vw;
  align-items: center;
  /* wyśrodkuj pionowo */
  justify-content: center;
  /* wyśrodkuj poziomo */
}

.tytul {
  font-family: 'Great Vibes', cursive !important;
  font-size: 2vw;
  padding: 1vw;
  font-weight: 800;
  justify-content: center; /* wyśrodkuj poziomo */
  align-items: center; /* wyśrodkuj pionowo */
}

@media screen and (min-width: 620px) {
  .tytul{
    font-size: 2vw;
  }
}
@media screen and (max-width: 619px) {
  .tytul{
    font-size: 4.2vw;
  }
}

.glowna select {
  width: 100%;
  max-width: 250px;
  text-align: center;
}

.top {
  background-image: url("/assets/images/frame-up.png");
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.center {
  background-image: url("/assets/images/frame-center.png");
  width: auto;
  background-position: center;
  background-repeat: repeat-y;

}

.bottom {
  background-image: url("/assets/images/frame-down.png");
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}


.pierwsza-linia {
    font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 1rem;
  /* tu masz odstęp */
}
@media screen and (min-width: 620px) {
  .pierwsza-linia{
    font-size: 2.5vw;

  }
}
@media screen and (max-width: 619px) {
  .pierwsza-linia{
    font-size: 3.8vw;

  }
}

.zdjecie {
  width: 12vw;
  height: 12vw;
}

.wybor {
  height: 5vw;
  width: 20vw;
  font-size: 25px;
  appearance: none;
  margin-bottom: 20%;
  border: 0.4vw groove white 
}

@media screen and (max-width: 619px){
  .wybor{
    font-size: 18px;
    width: 40vw;
    height: 8vw;
  }
}

@media screen and (min-width: 620px){
  .wybor{
    font-size: 25px;
    width: 16vw;
    height: 5vw;
  }
}

.d_button {
  width: 32vw;
  height: 2vw;
  font-size: 5vw;
  margin-bottom: 8vw;
}

@media screen and (min-width: 620px) {
  .d_button{
   height: 5vw;
   margin-top: 2vw;
  }
}
@media screen and (max-width: 619px) {
  .d_button{
    width: 60vw;
    height: 6vw;
  }
}

.frame {
  display: flex;
  justify-content: center;
  margin-top: -3vw;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 51vw;
}

/* GÓRA */
.top {
  background-image: url("/assets/images/frame-up.png");
  background-size: 100% 100%; /* dopasuj dokładnie */
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 1;
  display: block;
  margin: 0;
  padding: 0;
}

/* ŚRODEK */
.center {
  flex-grow: 1;
  width: 100%;
  background-image: url("/assets/images/frame-center.png");
  background-position: center top;
  background-repeat: repeat-y;
  background-size: 100% auto; /* zachowaj stałą szerokość */
  margin: 0;
  padding: 2vw 1vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

/* DÓŁ */
.bottom {
  position: relative;
  width: 100%;
  background-image: url("/assets/images/frame-down.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vw; /* ustalona wysokość, skalowana względem szerokości ekranu */
  margin: 0;
  padding-top: 0;

  box-sizing: border-box;
}
@media screen and (max-width: 619px) {
  .bottom{
    height: 22vw;
  }
}

@media screen and (min-width: 620px) {
  .bottom{
    height: 12vw;
  }
}

/* Text inside */
.textPis {
  max-width: 80%;
  font-size: 1.5vw;
  text-wrap-style: pretty;
  line-height: 2.2vw;
  text-align: center;
  color: white;
}

@media screen and (min-width: 620px) {
  .textPis{
    font-size: 1.2vw;
      line-height: 2.2vw;
  }
}
@media screen and (max-width: 619px) {
  .textPis{
      max-width: 75%;
    font-size: 3.2vw;
      line-height: 4.2vw;
  }
}

.button_n{
  position: fixed;
  bottom: 2vw;
          right: 1vw;
        width: 18vw;
        text-align: center;

        font-size: 1.2vw;
        color: white;
        border-radius: 20px;
        background-color: rgb(00,00,00,0.5);
        border: 2px groove white;
}

@media screen and (min-width: 619px) {
  .button_n{
    font-size: 1.2vw;
      line-height: 2.2vw;
  }
}
@media screen and (max-width: 620px) {
  .button_n{
    font-size: 3.2vw;
    width: 40vw;
    height: 7vw;
  }
}

.button_p{
  position: fixed;
  bottom: 2vw;
          right: 80vw;
        width: 18vw;
        text-align: center;

        font-size: 1.2vw;
        color: white;
        border-radius: 20px;
        background-color: rgb(00,00,00,0.5);
        border: 2px groove white;
}

@media screen and (min-width: 620px) {
  .button_p{
    font-size: 1.2vw;
      line-height: 2.2vw;
  }
}
@media screen and (max-width: 619px) {
  .button_p{
    font-size: 3.2vw;
    width: 40vw;
    height: 7vw;
    right: 58vw;
  }
}

.tytul_pojemnik{
  width: 28vw;
}
@media screen and (max-width: 619px) {
  .tytul_pojemnik{
    width: 50vw;
  }
  
}
@media screen and (min-width: 620px) {
  .tytul_pojemnik{
    width: 28vw;
  }
  
}

* {
  font-family: 'Merriweather', serif !important;
}